.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}

h3 {
  margin: 0;
}

.notifications {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.number {
  padding: .25rem 1rem;
  background-color: var(--very-dark-blue);
  color: var(--very-light-grayish-blue);
  border-radius: 10px;
}

.title {
 margin-right: 1rem;
}

.mark-read {
  padding-right: 1rem;
  color: var(--dark-grayish-blue);
}
