
p {
  color: var(--dark-grayish-blue);
  margin: .5rem;
}

.notif {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  color: var(--grayish-blue);
  display: flex;
  flex-direction: row;
}

.mark-read {
  color: var(--dark-grayish-blue);
}

.mark-read:hover {
  color: var(--very-dark-blue);
  cursor: pointer;
}

.old {
  background-color: var(--white);
}

.new {
  background-color: var(--light-grayish-blue-1);
}

.footer {
  color: var(--grayish-blue);
  margin: 0 .5rem;
}

.fa-circle {
  color: var(--red);
  padding: 1rem;
}

.with-circle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image {
  margin: .5rem;
  padding: .5rem;
}

img {
  height: 50px;
  width: 50px;
}

.event, .name {
  font-weight: bold;
}

.name {
  color: black;
}

.name:hover {
  color: var(--very-dark-blue);
  cursor: pointer;
}

.post {
  color: var(--dark-grayish-blue);
}

.post:hover {
  color: var(--very-dark-blue);
  cursor: pointer;
}

.club {
  color: var(--very-dark-blue);
}

.club:hover {
  cursor: pointer;
}

.sub-notif {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--light-grayish-blue-2);
  margin: 1rem 5rem;
}

.sub-notif:hover {
  background-color: var(--light-grayish-blue-2);
  cursor: pointer;
}

.you-pic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chess {
  padding: 1rem;
  margin-left: auto;
  height: 100px;
  width: 100px;
}

.chess:hover {
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}

h3 {
  margin: 0;
}

.notifications {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.blue {
  padding: .25rem 1rem;
  background-color: var(--very-dark-blue);
  color: var(--very-light-grayish-blue);
  border-radius: 10px;
}

.white {
  padding: .25rem 1rem;
  background-color: var(--white);
  color: var(--black);
  border-radius: 10px;
}

.title {
  margin-right: 1rem;
}

.mark-read {
  padding-right: 1rem;
  color: var(--dark-grayish-blue);
}

.show {
  display: block;
}

.hidden {
  display: none;
}

@media(max-width: 400px) {
  .chess {
    margin-left: 0;
  }

  .sub-notif {
    padding: 1rem;
    margin-left: auto;
    margin-right: 1rem;
  }
}
